@import url('https://fonts.googleapis.com/css?family=Ubuntu|Source+Sans+Pro');
.source-sans{font-family: 'Source Sans Pro', sans-serif;}
.ubuntu{font-family: 'Ubuntu', sans-serif;}
.back_yellow{background-color: rgb(255, 242, 182); border:1px solid red;}
.pointer-hand{cursor: pointer;}
.select-disabled{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.radius{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.back-yellow{
    background-color: rgb(204, 163, 30);
}

.yellow-back1{
    background-color:rgb(255, 242, 182);
}

.yellow-back2{
    background-color:rgb(255, 237, 138);
}

.text-catalogue {
    color: white; z-index: 1; position: relative; margin-top: 1vh; margin-left: 2vh;
}

.image-catalogue {
    margin-top: -14.5vh; z-index: 0; position: relative;
}

.catalogue-3dots {
    position: relative; top: -9.5vh; margin-left: 75vh;
}

.none {
    text-decoration: none;
}

.shadow1 {
    color: ivory; 
    text-shadow: 0.1vh 0 0 rgb(204, 163, 30), 0 0.1vh 0 rgb(204, 163, 30), 0 -0.1vh 0 rgb(204, 163, 30), -0.1vh 0 0 rgb(204, 163, 30), 0.1vh 0.1vh 0 rgb(204, 163, 30), 0.1vh -0.1vh 0 rgb(204, 163, 30), -0.1vh 0.1vh 0 rgb(204, 163, 30), -0.1vh -0.1vh 0 rgb(204, 163, 30);
}

.description {
    max-width: 66.1vw; margin: auto;
}