@import url('https://fonts.googleapis.com/css?family=Roboto|Rubik|Yanone+Kaffeesatz|Montserrat+Alternates|Pragati+Narrow|Bubbler+One|Chathura|Convergence|Encode+Sans+Condensed|Gidugu|Mouse+Memoirs|Ruluko|Snippet|Wendy+One');
.font-roboto {font-family: 'Roboto', sans-serif;} /* < */
.font-rubik {font-family: 'Rubik', sans-serif;} /* < */
.font-yanone {font-family: 'Yanone Kaffeesatz', sans-serif;}
.font-pragati {font-family: 'Pragati Narrow', sans-serif;}
.font-montserrat {font-family: 'Montserrat Alternates', sans-serif;}
.font-encode {font-family: 'Encode Sans Condensed', sans-serif;}
.font-convergence {font-family: 'Convergence', sans-serif;} /* < */
.font-mouse {font-family: 'Mouse Memoirs', sans-serif;}
.font-bubbler {font-family: 'Bubbler One', sans-serif;} /* - */
.font-wendy {font-family: 'Wendy One', sans-serif;}
.font-ruluko {font-family: 'Ruluko', sans-serif;} /* - */
.font-snippet {font-family: 'Snippet', sans-serif;} /* < */
.font-gidugu {font-family: 'Gidugu', sans-serif;} /* - */
.font-chathura {font-family: 'Chathura', sans-serif;} /* - */
.yellow-lighten-4 {background-color: #fff9c4;}
.yellow-lighten-2 {background-color: #fff176;}
.brown-darken-4 {background-color: #3e2723;}
.blue-greylighten-2 {background-color: #90a4ae;;}
.c-yellow-lighten-2 {color: #fff176;}
.blue-accent-3 {background-color: #2979ff;}
a, a:visited, a:hover {text-decoration: none; color: gray;}
a:hover {color: darkslategray;}