@import url('https://fonts.googleapis.com/css?family=Ubuntu|Source+Sans+Pro');
.source-sans{font-family: 'Source Sans Pro', sans-serif;}
.ubuntu{font-family: 'Ubuntu', sans-serif;}
.back_yellow{background-color: rgb(255, 242, 182); border:1px solid red;}
.pointer-hand{cursor: pointer;}
.select-disabled{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}