@import url('https://fonts.googleapis.com/css?family=Roboto|Rubik|Yanone+Kaffeesatz|Montserrat+Alternates|Pragati+Narrow|Bubbler+One|Chathura|Convergence|Encode+Sans+Condensed|Gidugu|Mouse+Memoirs|Ruluko|Snippet|Wendy+One|Ubuntu|Ubuntu+Condensed');
.font-roboto {font-family: 'Roboto', sans-serif;} /* < */
.font-rubik {font-family: 'Rubik', sans-serif;} /* < */
.font-yanone {font-family: 'Yanone Kaffeesatz', sans-serif;}
.font-pragati {font-family: 'Pragati Narrow', sans-serif;}
.font-montserrat {font-family: 'Montserrat Alternates', sans-serif;}
.font-encode {font-family: 'Encode Sans Condensed', sans-serif;}
.font-convergence {font-family: 'Convergence', sans-serif;} /* < */
.font-mouse {font-family: 'Mouse Memoirs', sans-serif;}
.font-bubbler {font-family: 'Bubbler One', sans-serif;} /* - */
.font-wendy {font-family: 'Wendy One', sans-serif;}
.font-ruluko {font-family: 'Ruluko', sans-serif;} /* - */
.font-snippet {font-family: 'Snippet', sans-serif;} /* < */
.font-gidugu {font-family: 'Gidugu', sans-serif;} /* - */
.font-chathura {font-family: 'Chathura', sans-serif;} /* - */
.ubuntu {font-family: 'Ubuntu', sans-serif};
.ubuntu-condensed {font-family: 'Ubuntu Condensed', sans-serif;}
.yellow-lighten-4 {background-color: #fff9c4;}
.yellow-lighten-2 {background-color: #fff176;}
.brown-darken-4 {background-color: #3e2723;}
.blue-greylighten-2 {background-color: #90a4ae;;}
.light-blue-lighten-2 {background-color: #4fc3f7;}
.blue-darken-3 {background-color: #1565c0;}
.light-blue-lighten-4 {background-color: #b3e5fc;}
.light-blue-darken-1 {background-color: #039be5;}
.cyan-darken-1 {background-color: #00acc1;}
.c-yellow-lighten-2 {color: #fff176;}
.blue-accent-3 {background-color: #2979ff;}
.radius11all {border-radius: 11px;}
.radius0 {border-radius: 0px;}
.radius11top{border-radius: 11px 11px 0px 0px;}
.pointer{cursor: pointer;}
a, a:visited, a:hover {text-decoration: none; color: darkslategray;}
a:hover {color: darkslategray;}
.etoile:hover {color: rgb(255, 208, 0);}
.augmented-reality:hover {color: rgb(131, 53, 255);}
.social-button:hover {color: rgb(0, 89, 255);}
/*
.augmented-reality {color: rgb(131, 53, 255);}
.augmented-reality:hover {color: rgb(176, 126, 255);}
.social-button {color: rgb(0, 89, 255);}
.social-button:hover {color: rgb(53, 124, 255);}
*/